@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  margin: 0;
  padding: 80px 16px;
  min-height: calc(100vh - 160px);
  background: url("https://images.unsplash.com/photo-1485498128961-422168ba5f87?ixlib=rb-0.3.5&s=bb0e76f1949725c83131d875abaa0f1a&auto=format&fit=crop&w=2602&q=80") no-repeat center center;
  background-size: cover;
}

.menu-wrap {
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  max-width: 400px;
  background-color: white;
  box-shadow: 40px 40px 80px -40px rgba(50,50,80,0.4);
}

header {
  font-family: 'Satisfy', cursive;
  text-align: center;
}

header h4 {
  margin: 0;
  font-size: 40px;
  color: #FF5722;
}

.table-menu {
  margin: 40px 0 0 0;
  width: 100%;
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  color: #455A64;
  line-height: 40px;
}
